

.body {
    background-image: url('../../assets/Background/background.jpg');
    background-size: cover;
    height: 90.6vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    
}