
.body {
    background-image: url('../../assets/Background/shine.png');
    background-size: cover;
    height: 91vh;
}

.dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 4%;
    padding: 2%;

}