.span{
    color: yellow;
    font-family: Medium;
}

.allIcons {
    display: flex;
    justify-content: baseline;
    color: aliceblue;
    cursor: pointer;
    font-family: Medium;
}

.spanIcon {
    color: yellow;
}