.body{
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
}

.img{
    border: none;
    border-radius: 60px;
}
